<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Group</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Name</string>
			<key>Key</key>
			<string>name_preference</string>
			<key>DefaultValue</key>
			<string></string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Enabled</string>
			<key>Key</key>
			<string>enabled_preference</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Key</key>
			<string>slider_preference</string>
			<key>DefaultValue</key>
			<real>0.5</real>
			<key>MinimumValue</key>
			<integer>0</integer>
			<key>MaximumValue</key>
			<integer>1</integer>
			<key>MinimumValueImage</key>
			<string></string>
			<key>MaximumValueImage</key>
			<string></string>
		</dict>
	</array>
	<key>emotion</key>
	<dict>
		<key>沙发</key>
		<string>[沙发]</string>
		<key>板凳</key>
		<string>[板凳]</string>
		<key>早安</key>
		<string>[早安]</string>
		<key>晚安</key>
		<string>[晚安]</string>
		<key>路过</key>
		<string>[路过]</string>
		<key>体重秤</key>
		<string>[体重秤 ]</string>
		<key>哑铃</key>
		<string>[哑铃]</string>
		<key>健身自行车</key>
		<string>[健身自行车]</string>
		<key>上升</key>
		<string>[上升]</string>
		<key>下降</key>
		<string>[下降]</string>
		<key>米饭</key>
		<string>[米饭]</string>
		<key>苹果</key>
		<string>[苹果]</string>
		<key>coffee</key>
		<string>[coffee]</string>
		<key>蛋糕</key>
		<string>[蛋糕]</string>
		<key>薯条</key>
		<string>[薯条]</string>
		<key>吻</key>
		<string>[吻]</string>
		<key>心</key>
		<string>[心]</string>
		<key>心碎</key>
		<string>[心碎]</string>
		<key>一团乱麻</key>
		<string>[一团乱麻]</string>
		<key>落叶</key>
		<string>[落叶]</string>
		<key>时钟</key>
		<string>[时钟]</string>
		<key>大红花</key>
		<string>[大红花]</string>
		<key>金币</key>
		<string>[金币]</string>
		<key>棒棒糖</key>
		<string>[棒棒糖]</string>
		<key>蝴蝶结</key>
		<string>[蝴蝶结]</string>
		<key>礼物</key>
		<string>[礼物]</string>
		<key>applaud</key>
		<string>[applaud]</string>
		<key>OK</key>
		<string>[OK]</string>
		<key>yeah</key>
		<string>[yeah]</string>
		<key>赞</key>
		<string>[赞]</string>
		<key>肌肉</key>
		<string>[肌肉]</string>
		<key>爱你</key>
		<string>[爱你]</string>
		<key>完美</key>
		<string>[完美]</string>
		<key>加号</key>
		<string>[加号]</string>
		<key>勾勾</key>
		<string>[勾勾]</string>
		<key>叉叉</key>
		<string>[叉叉]</string>
		<key>气球</key>
		<string>[气球]</string>
		<key>星星</key>
		<string>[星星]</string>
		<key>烟火</key>
		<string>[烟火]</string>
		<key>喇叭</key>
		<string>[喇叭]</string>
		<key>放大镜</key>
		<string>[放大镜]</string>
		<key>铁锤</key>
		<string>[铁锤]</string>
		<key>樱桃</key>
		<string>[樱桃]</string>
		<key>便便</key>
		<string>[便便]</string>
		<key>炸弹</key>
		<string>[炸弹]</string>
		<key>胶囊</key>
		<string>[胶囊]</string>
	</dict>
</dict>
</plist>
