<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Group</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Name</string>
			<key>Key</key>
			<string>name_preference</string>
			<key>DefaultValue</key>
			<string></string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Enabled</string>
			<key>Key</key>
			<string>enabled_preference</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Key</key>
			<string>slider_preference</string>
			<key>DefaultValue</key>
			<real>0.5</real>
			<key>MinimumValue</key>
			<integer>0</integer>
			<key>MaximumValue</key>
			<integer>1</integer>
			<key>MinimumValueImage</key>
			<string></string>
			<key>MaximumValueImage</key>
			<string></string>
		</dict>
	</array>
	<key>emotion</key>
	<dict>
		<key>鄙视</key>
		<string>[鄙视]</string>
		<key>病</key>
		<string>[病]</string>
		<key>不情愿</key>
		<string>[不情愿]</string>
		<key>打卡</key>
		<string>[打卡]</string>
		<key>大哭</key>
		<string>[大哭]</string>
		<key>大笑</key>
		<string>[大笑]</string>
		<key>呆掉</key>
		<string>[呆掉]</string>
		<key>嘚瑟</key>
		<string>[嘚瑟]</string>
		<key>对不起</key>
		<string>[对不起]</string>
		<key>尔康</key>
		<string>[尔康]</string>
		<key>腹黑</key>
		<string>[腹黑]</string>
		<key>鼓掌</key>
		<string>[鼓掌]</string>
		<key>鬼脸</key>
		<string>[鬼脸]</string>
		<key>害羞</key>
		<string>[害羞]</string>
		<key>黑线</key>
		<string>[黑线]</string>
		<key>哼歌</key>
		<string>[哼歌]</string>
		<key>坏笑</key>
		<string>[坏笑]</string>
		<key>囧</key>
		<string>[囧]</string>
		<key>可怜</key>
		<string>[可怜]</string>
		<key>抠鼻屎</key>
		<string>[抠鼻屎]</string>
		<key>狂怒</key>
		<string>[狂怒]</string>
		<key>困</key>
		<string>[困]</string>
		<key>卖萌</key>
		<string>[卖萌]</string>
		<key>摸摸头</key>
		<string>[摸摸头]</string>
		<key>努力</key>
		<string>[努力]</string>
		<key>怒骂</key>
		<string>[怒骂]</string>
		<key>呕吐</key>
		<string>[呕吐]</string>
		<key>亲亲</key>
		<string>[亲亲]</string>
		<key>石化</key>
		<string>[石化]</string>
		<key>衰</key>
		<string>[衰]</string>
		<key>睡</key>
		<string>[睡]</string>
		<key>偷乐</key>
		<string>[偷乐]</string>
		<key>偷笑</key>
		<string>[偷笑]</string>
		<key>吐舌头</key>
		<string>[吐舌头]</string>
		<key>妄想</key>
		<string>[妄想]</string>
		<key>无所谓</key>
		<string>[无所谓]</string>
		<key>无语</key>
		<string>[无语]</string>
		<key>吓</key>
		<string>[吓]</string>
		<key>嘘</key>
		<string>[嘘]</string>
		<key>眼冒心</key>
		<string>[眼冒心]</string>
		<key>疑问</key>
		<string>[疑问]</string>
		<key>忧愁</key>
		<string>[忧愁]</string>
		<key>晕</key>
		<string>[晕]</string>
		<key>bye</key>
		<string>[bye]</string>
		<key>震惊</key>
		<string>[震惊]</string>
		<key>抓狂</key>
		<string>[抓狂]</string>
		<key>砖头砸</key>
		<string>[砖头砸]</string>
	</dict>
</dict>
</plist>
